.homes {
    grid-area: home;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;

    grid-template-areas:
        "img img"
        "location rooms"
        "size price"
        "btn btn";

    &__img {
        width: 100%;
        grid-area: img;
    }

    &__like {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary;
    }

    &__name {
        grid-area: img;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        color: $color-grey-light-1;

        padding: 1.25rem;
        background-color: $color-secondary;

        width: 80%;
        justify-self: center;
        align-self: end;

        transform: translateY(50%);
    }

    &__location {
        grid-area: location;
    }

    &__rooms {
        grid-area: rooms;
    }

    &__area {
        grid-area: size;
    }

    &__price {
        grid-area: price;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {

        font-size: 1.5rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            width: 2rem;
            height: 2rem;
            fill: $color-primary;
        }
    }

    .btn {
        grid-area: btn;
    }
}